<header>
	<div id="topbar">
		<div class="line">
			<div class="m-6 l-6 hide-s">
				<p>
					CONTACT US: <strong>{{contact_no}}</strong> | <strong>{{email_id}}</strong>
				</p>
			</div>
			<div class="s-12 m-6 l-6">
				<div class="social right">
					<button type="button" routerLink="/loadLogin" class="btn btn-success">Login</button>
					<a href="https://www.facebook.com/fitwithpristine/" target="blank" class="fa fa-facebook"></a>
					<a href="https://www.instagram.com/shekhar_shinde/" target="blank" class="fa fa-instagram"></a>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand left" routerLink=""><img src="app/Home/Images/8_logo.png" width="15%"/></a>
		<a class="navbar-brand left" style="margin-right: 38%;" href="#">{{org_name}}</a>
	</nav>
</header>