<div id="upcoming-tours">
	<div class="line">
		<h2 class="section-title"></h2>
		<div class="container">
			<div class="row">
				<div class="card xs-12 s-12 m-12 l-6 xl-6" style="padding-right:2%;">
					<img src="app/Home/Images/8_before_after.jpg" class="card-img-top"
						alt="...">
					<div class="card-body">
						<h5 class="card-title">
							"We all begin somewhere, So start your fitness journey from
							fitness with Fit Fortune. I am so glad you have come down to this
							page for your weight issues. I’ve made it my personal mission to
							help as many people as possible to achieve their ideal level of
							fitness and to feel more confident and happy. My online programs
							are flexible, so you can easily follow from anywhere. Because if
							I can why not you? So all I want to do is apply now and Join us
							and make your health and fitness goals a reality. If you keenly
							interested then don't wait just get started apply now." <br>
							<br>Shekhar Shinde, <br>Fitness With Fit Fortune Coach
						</h5>
					</div>
				</div>
				<div class="card xs-12 s-12 m-12 l-6 xl-6" style="padding-left:2%;">
					<div id="tmp_headline1-90857" data-de-type="headline"
						data-de-editing="false" data-title="headline" data-ce="true"
						data-trigger="none" data-animate="fade" data-delay="500"
						style="margin-top: 0px; cursor: pointer; outline: none;"
						aria-disabled="false">
						<div style="text-align: center; font-size: 28px;"
							data-bold="inherit" contenteditable="false">
							<font color="#2b719d"><span
								style="caret-color: rgb(43, 113, 157);"><b>Watch This
										Video Before Going Any Further
								</b></span></font>
						</div>
					</div>
					<iframe
						src="https://www.youtube.com/embed/vY7TFshPZ4w?autoplay=0&amp;modestbranding=1&amp;controls=1&amp;showinfo=0&amp;rel=-1&amp;hd=1&amp;wmode=transparent"
						frameborder="0" allowfullscreen="" wmode="opaque"
						id="fitvid135028" style="width: 100%; height: 400px;"></iframe>
					<div
						class="card-body text-center justify-content-center align-items-center">
						<h5 class="card-title">
							<button type="button" class="btn btn-success"
								routerLink="/booking">Enroll Now</button>
						</h5>
					</div>
				</div>
			</div>
			<br>
			<div>
				<div class="row">
					<div class="m-1 l-1 s-1 xs-1 left"></div>
					<div class="m-11 l-11 s-11 xs-11 center">
						<h2>What You Get In The Fitness With Fit Fortune Online Program</h2>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="card m-3 l-3" style="border:none;">
						<img alt="..." src="app/Home/Images/meal.jpg" width="145" height="100">
					</div>
					<div class="card m-8 l-8 right" style="border:none;">
						<h3 style="color: blue;">#1: Meal Plans and Nutrition</h3>
						<ol style="list-style-type: decimal;">
							<li>Meals plans according to your food preferences</li>
							<li>Herbalife Nutrition recommended as per your need and goals.</li>
							<li>Shopping lists</li>
							<li>Dining out options</li>
							<li>Recipes and easy meal ideas</li>
						</ol>
					</div>
				</div>
				
				<div class="row">
					<div class="card m-3 l-3" style="border:none;">
						<img alt="..." src="app/Home/Images/exercise.jpg" width="145" height="100">
					</div>
					<div class="card m-8 l-8 right" style="border:none;">
						<h3 style="color: blue;">#2: Exercise & Lifestyle Improvement</h3>
						<ol style="list-style-type: decimal;">
							<li>​Video tutorials for all exercises on your phone</li>
							<li>Daily workout plans for home or gym</li>
							<li>Mobility, strength and cardio workouts</li>
							<li>Walking-running plans for fat loss</li>
						</ol>
					</div>
				</div>
				
				<div class="row">
					<div class="card m-3 l-3" style="border:none;">
						<img alt="..." src="app/Home/Images/follow-up.jpg" width="145" height="100">
					</div>
					<div class="card m-8 l-8 right" style="border:none;">
						<h3 style="color: blue;">#3: Follow-up & Accountability</h3>
						<ol style="list-style-type: decimal;">
							<li>​Regular weight and measurement checks, and journaling</li>
							<li>Weekly Zoom call for motivation, problem solving and action plan for the week</li>
							<li>24X7 WhatsApp support</li>
							<li>​Access to our Private Facebook ActiFit Community</li>
						</ol>
					</div>
				</div>
				
				<div class="row">
					<div class="card m-3 l-3" style="border:none;">
						<img alt="..." src="app/Home/Images/education.jpg" width="145" height="100">
					</div>
					<div class="card m-8 l-8 right" style="border:none;">
						<h3 style="color: blue;">#4: Education & Know-how</h3>
						<ol style="list-style-type: decimal;">
							<li>Ongoing support for all members, past and current</li>
							<li>Weekly live sessions for educational snippets about nutrition and fitness</li>
							<li>​Weekly sharing of recipes, exercises, tips and tricks for weight maintenance</li>
						</ol>
					</div>
				</div>
			</div>
			
			<br>
			<div>
				<div class="row">
					<div class="m-4 l-4 s-1 xs-1 left"></div>
					<div class="m-8 l-8 s-11 xs-11 center" style="widht:100%;margin-left:25%;">
						<h2>Choose From The Following Programs</h2>
					</div>
				</div>
				<div class="row">
					<div class="m-3 l-1 s-1 left"></div>
					<div class="m-12 l-3 s-12 xs-12">
						<img alt="..." src="app/Home/Images/trial-package.png" width="100%" height="100%">
					</div>
					<div class="m-12 l-3 s-12 xs-12">
						<img alt="..." src="app/Home/Images/monthly-package.png" width="100%" height="100%">
					</div>
					<div class="m-12 l-3 s-12 xs-12">
						<img alt="..." src="app/Home/Images/quoterly-package.png" width="100%" height="100%">
					</div>
				</div>
				<div class="row">
					<div class="m-2 l-2 s-2 xs-2 left"></div>
					<div class="m-7 l-7 s-7 xs-7">
						<button type="button" class="btn btn-success" style="width:100%;" routerLink="/booking">Enroll Now</button>
					</div>
				</div>
			</div>
			
			<div class="container my-4">

				<hr class="my-4">
				
				<div class="row">
					<div class="m-2 l-2 s-1 xs-1 left"></div>
					<div class="m-7 l-7 s-11 xs-11" style="widht:100%;margin-left:5%;">
						<h2>Transformation Stories at Fit Fortune</h2>
					</div>
				</div>
				
				<!--Carousel Wrapper-->
				<div id="multi-item-example"
					class="carousel slide carousel-multi-item" data-ride="carousel">

					<!--Controls-->
					<div class="controls-top">
						<a class="btn-floating" href="#multi-item-example"
							data-slide="prev"><i class="fa fa-chevron-left"></i></a> <a
							class="btn-floating" href="#multi-item-example" data-slide="next"><i
							class="fa fa-chevron-right"></i></a>
					</div>
					<!--/.Controls-->

					<!--Indicators-->
					<ol class="carousel-indicators">
						<li data-target="#multi-item-example" data-slide-to="0"
							class="active"></li>
						<li data-target="#multi-item-example" data-slide-to="1"></li>
						<li data-target="#multi-item-example" data-slide-to="2"></li>
						<li data-target="#multi-item-example" data-slide-to="3"></li>
						<li data-target="#multi-item-example" data-slide-to="4"></li>
					</ol>
					<!--/.Indicators-->
					
					<!--Slides-->
					<div class="carousel-inner" role="listbox">
					<!--First slide-->
						<div class="carousel-item active">

							<div class="row">
								<div class="col-md-4">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide1.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide2.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide3.JPG" alt="Card image cap">
										<div class="card-body">
											<h5 class="card-title">Janaki badade</h5>
											I am simple housewife, I have 2 son one is in 10 th and other is in primary school. I was Sitting at home doing same work and following same schedule everyday. Even for household work we have a hosemade, so my job was just eating and seating. One day my thyroid taste was positive and I was completely afraid. My weight started gaining and I was looking very old, which I was not. I got a reference from friend & I started the program. After a first week, I was feeling so much energetic and confident. I had lost total 17 kgs weight now all the members called me santoor mom jokingly. Initially I had doubts but suhas and Prajakta clears everything. They always educate us, motivate us. We inspired from them every day.
											Thank you fit fortune.
										</div>
									</div>
								</div>
							</div>

						</div>
						<!--/.First slide-->

						<!--Second slide-->
						<div class="carousel-item">

							<div class="row">
								<div class="col-md-4">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide4.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide5.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide6.JPG" alt="Card image cap">
									</div>
								</div>
							</div>

						</div>
						<!--/.Second slide-->

						<!--Third slide-->
						<div class="carousel-item">

							<div class="row">
								<div class="col-md-4">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide7.JPG" alt="Card image cap">
										<div class="card-body">
											<h5 class="card-title">Akshay kurhade</h5>
											I am just 21 years old guy and my weight was 105 kg. I am working in own hotel business. As I said just 21 age but I was looking like 40 plus age. My age people called me uncle beacuse of my physical appearance. And somehow I felt very bad and heart broken. One day one of my close friend suggest me to visit at fit Fortune and I visited. I saw many people's results over there. I joined very quickly without any doubts. In just one month I achieved my first milestone of 5 kgs and I am inspired from my own result. Day by day my results was improving and many people started recognising me because of healthy change. Now I just 70 kg and felt like teenage boy. I lost 35 kgs in 8 months and Now I maintaining it very good. Age 21 weight loss 35 kg fat loss 25 kg
										</div>
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide8.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide9.JPG" alt="Card image cap">
									</div>
								</div>
							</div>

						</div>
						<!--/.Third slide-->
						
						<!--Fourth slide-->
						<div class="carousel-item">

							<div class="row">
								<div class="col-md-4">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide10.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide11.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide12.JPG" alt="Card image cap">
									</div>
								</div>
							</div>

						</div>
						<!--/.Fourth slide-->
						
						<!--Fifth slide-->
						<div class="carousel-item">

							<div class="row">
								<div class="col-md-4">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide13.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide14.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide15.JPG" alt="Card image cap">
									</div>
								</div>
							</div>

						</div>
						<!--/.Fifth slide-->

					</div>
					<!--/.Slides-->
				</div>
				<!--/.Carousel Wrapper-->

				<div class="row">
					<div class="m-2 l-2 s-2 xs-2 left"></div>
					<div class="m-7 l-7 s-7 xs-7">
						<button type="button" class="btn btn-success" style="width:100%;" routerLink="/booking">Enroll Now</button>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="m-4 l-4 s-1 xs-1 left"></div>
				<div class="m-8 l-8 s-11 xs-11 center" style="widht:100%;margin-left:45%;">
					<h2>Are You...</h2>
				</div>
			</div>
			<div>
				<div class="card s-12 xs-12 m-12 l-12 right" style="border: none;">
					<ol class="glyphicon glyphicon-ok" style="margin-left:10%;font-weight: bold;font-weight: 900;">
						<li>Struggling to lose weight, stubborn fat and inches?</li>
						<li>Want to know "how" to lose weight and maintain it instead of just getting a "one-time" plan?</li>
						<li>Want a real "coach" who you can speak with from time to time rather than following a pre designed program?</li>
						<li>Too busy to spend time in the gym or cook separately for yourself?</li>
						<li>Struggling to learn how to enjoy social settings with your spouse, family, or friends without feeling the guilt of falling off track?</li>
						<li>Just feeling confused with "Yes carbs or no carbs, Do I really need protein, My metabolism is slow, Should I do cardio or weights, Do I eat 2 times a day or 4 times a day" ... we'll tell you what is fact, vs fiction for YOU!</li>
						<li>Sick and tired of looking at awesome bodies on Instagram and feeling frustrated?</li>
						<li>​Looking for guidance, support and encouragement rather than some challenge or magic diet?</li>
						<li>​If you've answered YES to any of these questions, we want to speak with you! If you qualify, we'll hold a brief 1-1 call to discuss your future, and determine if this is the right fit for you. Just click below to apply!</li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="m-2 l-2 s-2 xs-2 left"></div>
				<div class="m-7 l-7 s-7 xs-7">
					<button type="button" class="btn btn-success" style="width:100%;" routerLink="/booking">Enroll Now</button>
				</div>
			</div>
			<div class="container my-4">

				<hr class="my-4">

				<div class="row">
					<div class="m-2 l-2 s-1 xs-1 left"></div>
					<div class="m-7 l-7 s-11 xs-11 center" style="widht:100%;margin-left:20%;">
						<h2>Few More Transformation Stories at Fit Fortune</h2>
					</div>
				</div>
				<!--Carousel Wrapper-->
				<div id="new-multi-item-example"
					class="carousel slide carousel-multi-item" data-ride="carousel">

					<!--Controls-->
					<div class="controls-top">
						<a class="btn-floating" href="#new-multi-item-example"
							data-slide="prev"><i class="fa fa-chevron-left"></i></a> <a
							class="btn-floating" href="#new-multi-item-example" data-slide="next"><i
							class="fa fa-chevron-right"></i></a>
					</div>
					<!--/.Controls-->

					<!--Indicators-->
					<ol class="carousel-indicators">
						<li data-target="#new-multi-item-example" data-slide-to="0"
							class="active"></li>
						<li data-target="#new-multi-item-example" data-slide-to="1"></li>
						<li data-target="#new-multi-item-example" data-slide-to="2"></li>
						<li data-target="#new-multi-item-example" data-slide-to="3"></li>
						<li data-target="#new-multi-item-example" data-slide-to="4"></li>
						<li data-target="#new-multi-item-example" data-slide-to="5"></li>
					</ol>
					<!--/.Indicators-->
					
					<!--Slides-->
					<div class="carousel-inner" role="listbox">
					<!--First slide-->
						<div class="carousel-item active">

							<div class="row">
								<div class="col-md-4">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide16.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide17.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide18.JPG" alt="Card image cap">
									</div>
								</div>
							</div>

						</div>
						<!--/.First slide-->

						<!--Second slide-->
						<div class="carousel-item">

							<div class="row">
								<div class="col-md-4">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide19.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide20.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide21.JPG" alt="Card image cap">
									</div>
								</div>
							</div>

						</div>
						<!--/.Second slide-->

						<!--Third slide-->
						<div class="carousel-item">

							<div class="row">
								<div class="col-md-4">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide22.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide23.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide24.JPG" alt="Card image cap">
									</div>
								</div>
							</div>

						</div>
						<!--/.Third slide-->
						
						<!--Fourth slide-->
						<div class="carousel-item">

							<div class="row">
								<div class="col-md-4">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide25.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide26.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide27.JPG" alt="Card image cap">
									</div>
								</div>
							</div>

						</div>
						<!--/.Fourth slide-->
						
						<!--Fifth slide-->
						<div class="carousel-item">

							<div class="row">
								<div class="col-md-4">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide28.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide29.JPG" alt="Card image cap">
									</div>
								</div>

								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide30.JPG" alt="Card image cap">
									</div>
								</div>
							</div>

						</div>
						<!--/.Fifth slide-->
						
						<!--Sixth slide-->
						<div class="carousel-item">

							<div class="row">
								<div class="col-md-4">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide31.JPG" alt="Card image cap">
									</div>
								</div>
								<div class="col-md-4 clearfix d-none d-md-block">
									<div class="card mb-2">
										<img class="card-img-top" src="app/Home/Images/Slider/Slide32.JPG" alt="Card image cap">
									</div>
								</div>
							</div>

						</div>
						<!--/.Sixth slide-->

					</div>
					<!--/.Slides-->
				</div>
				<!--/.Carousel Wrapper-->

				<br>
				<div style="text-align:center;">
					<div class="row">
						<div class="m-2 l-2 s-2 xs-2 left"></div>
						<div class="m-11 l-11 s-11 xs-11 center">
							<h2>You Are Only 1 Decision Away From Changing</h2>
							<h3>Your Life For Good…</h3>
							<h4>Click The Button Below To Start Your Application</h4>
						</div>
					</div>
					<div class="row">
						<div class="m-2 l-2 s-2 xs-2 left"></div>
						<div class="m-7 l-7 s-7 xs-7 center">
							<button type="button" class="btn btn-success" style="width:100%;" routerLink="/booking">Enroll Now</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>